.description {
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 2.5rem;
  background-color: var(--background-color-primary);
}

.description p {
  font-size: 1.1rem;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 80%, var(--background-color-primary));
  z-index: 2;
}

.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 90vh;
}

.heroImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.heroImgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  height: auto;
  min-height: 26rem;
  width: 100%;
}

.heroImgContainer::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 0, 0), transparent);
  pointer-events: none;
}

.infoContainer {
  position: relative;
  grid-row: 2/3;
  z-index: 99;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  padding: 0;
  margin-bottom: 2rem;
}

.titleContainer {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 550px;
  transform: translateY(-100%);
}

@media screen and (max-width: 730px) {
  .description p {
    font-size: 1rem;
  }

  .heroImgContainer {
    min-height: 30rem;
  }

  .title {
    font-size: 2rem;
  }
}
