.container {
  position: sticky;
  top: var(--header-height);
  width: 100%;
  height: auto;
  min-height: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.resultsContainer {
  width: 100%;
  height: auto;
  min-height: 85vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
