.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 29rem;
  left: 0;
  top: 100%;
  margin-top: 0.8rem;
  padding: 1rem 0;
  box-sizing: content-box;
  border-radius: 0.5rem;
  background-color: var(--background-color-tertiary);
}

.form {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 1rem;
}

.resultContainer {
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-y: auto;
}

.searchInput {
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  padding-left: 0.7rem;
  padding-right: 0.2rem;
  background-color: transparent;
  border: none;
  color: inherit;
}

.searchInput::placeholder {
  color: var(--font-tertiary-color);
}

.searchInput:focus {
  outline: none;
}

@media screen and (max-width: 580px) {
  .form {
    position: static;
  }

  .container {
    margin-top: 0.4rem;
  }
}
