/* CSS VARIABLES */
:root {
  /* BACKGROUND COLORS */
  --background-color-primary: #121212;
  --background-color-primary-75: #212123b7;
  --background-color-secondary: rgba(255, 255, 255);
  --background-color-secondary-25: rgba(255, 255, 255, 0.25);
  --background-color-tertiary: rgb(80, 80, 80);

  /* FONTS */
  --font-primary-color: rgb(255, 255, 255);
  --font-primary-color-hover: rgb(177, 177, 177);
  --font-secondary-color: rgb(0, 0, 0);
  --font-secondary-color-hover: rgb(59, 59, 59);
  --font-tertiary-color: rgb(189, 189, 189);

  /* HEADER  */
  --header-height: 3.7rem;

  /* ICONS COLORS */
  --icon-primary-color: #c6c6c6;
  --icon-primary-color-hover: #a6a6a6;
  --icon-secondary-color: #fbde3c;
  --icon-secondary-color-hover: #d3bb33;
  --favorite-primary-color: #b48700;
  --favorite-secondary-color: #a6a6a6;

  /* PAGE COLORS */
  --primary-color: #ecb100;
  --primary-color-hover: #ffbf00;
  --primary-color-darker: #b48700;
  --secondary-color: #818181;
  --secondary-color-hover: #a7a7a7;

  /* STATES COLORS */
  --text-success: rgb(0, 142, 0);
  --text-error: rgb(251, 0, 0);
}

/* RESET AND NORMALIZE */
html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: var(--font-primary-color);
  background: var(--background-color-primary);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Buttons */
.button {
  min-width: 8rem;
  background-color: var(--primary-color);
  color: var(--font-primary-color) !important;
  padding: 0.5rem 0.9rem;
  border: none;
  border-radius: 0.4rem;
  outline: none;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.button.secondary {
  background-color: var(--secondary-color);
}

.button.secondary:hover {
  background-color: var(--secondary-color-hover);
}

/* ICONS COLORS */
.icon-primary {
  fill: var(--icon-primary-color);
  transition: fill 0.5s;
}

.icon-primary:hover {
  fill: var(--icon-primary-color-hover);
}

.icon-secondary {
  fill: var(--icon-secondary-color);
  transition: fill 0.5s;
}

.icon-secondary:hover {
  fill: var(--icon-secondary-color-hover);
}
