.header {
  position: sticky;
  display: flex;
  align-items: center;
  height: var(--header-height);
  top: 0;
  background-color: var(--background-color-primary);
  color: var(--font-primary-color);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  z-index: 999;
}

.navbar {
  height: 2.2rem;
}

.searchContainer {
  display: flex;
  padding: 0 !important;
  align-items: center;
  background-color: var(--background-color-secondary-25);
  border-radius: 22rem;
}

.searchContainer svg {
  cursor: pointer;
}
