.dropdownMenu {
  background-color: var(--background-color-tertiary);
}

.dropdownMenu p {
  color: var(--font-primary-color);
  cursor: pointer;
}

.filterTitleContainer,
.filterSelectorContainer {
  display: flex;
  width: 100%;
  gap: 0.4rem;
}

.filterSelectorContainer {
  justify-content: space-between;
  cursor: pointer;
}

.singleFilterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 11.56rem;
  height: auto;
  min-height: 6.3rem;
  gap: 0.8rem;
  padding: 0 1rem;
  background-color: var(--background-color-tertiary);
  border-radius: 0.6rem;
}

.singleFilterContainer p {
  margin: 0;
}
