.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--background-color-tertiary);
  gap: 1rem;
  padding: 1rem 0;
}

.headerUl {
  padding-left: 1rem;
  list-style: none;
}

.headerUl a:hover {
  color: var(--font-primary-color-hover);
}

.offcanvas {
  background-color: var(--background-color-primary);
  color: var(--font-primary-color);
}
